<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKQybK2s_LfKDgCRu1bKUfepPy8TtufU8</string>
	<key>GCM_SENDER_ID</key>
	<string>287514901657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ffk.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messengertutorial-4bf32</string>
	<key>STORAGE_BUCKET</key>
	<string>messengertutorial-4bf32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287514901657:ios:d899c5509216f13d308c08</string>
</dict>
</plist>